p {
    color: red;
    font-size: 20px;
}

div {
    text-align:center;
    color: blue;
}

.dropzone {
    border: 1px solid black;
    margin: 10px;
    height: 50vh;
}

.grid-container {
    display: grid;
    row-gap: 100px;
}

.dropzone.item1 {
    /* Place item on position 1,1 */
    grid-column-start: 1;
    grid-column-end: 2;
}

.dropzone.item2 {
    /* Place item on position 2,1 */
    grid-column-start: 2;
    grid-column-end: 3;
}

.dropzone.item1.dragover {
    background-color: #f0f0f0;
}

.dropzone.item2.dragover {
    background-color: #f0f0f0;
}

.dropzone.item1.dragleave {
    background-color: #ffffff;
}

.dropzone.item2.dragleave {
    background-color: #ffffff;
}

.button-container {
    item-align: center;
}